.clock-digital {
  border: 1px solid white;
  width: 40%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  text-align: center;
  span.date {
    font-size: 2rem;
  }
  p {
    font-weight: bolder;
    font-size: 1.3rem;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
    &.break {
      color: rgba(green, 0.9);
    }
  }
}

@media screen and (max-width: 600px) {
  .clock-digital {
    width: 50%;
  }
}
@media screen and (max-width: 400px) {
  .clock-digital {
    width: 60%;
  }
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.control-buttons {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;

  span {
    display: inline-block;
    margin: 15px;
    &:hover {
      cursor: pointer;
    }
  }
}
